/**
 * radio
 * ----------------
 */
.ix-radio-focus {
  box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
  z-index: 1;
}
.ix-radio-group {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}
.ix-radio-group-vertical .ix-radio-wrapper {
  display: block;
  height: 30px;
  line-height: 30px;
}
.ix-radio-wrapper {
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin-right: 8px;
  cursor: pointer;
}
.ix-radio-wrapper-disabled {
  cursor: not-allowed;
}
.ix-radio {
  display: inline-block;
  margin-right: 4px;
  white-space: nowrap;
  position: relative;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}
.ix-radio:hover .ix-radio-inner {
  border-color: #bcbcbc;
}
.ix-radio-inner {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #dddee1;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.ix-radio-inner:after {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 2px;
  top: 2px;
  border-radius: 6px;
  display: table;
  border-top: 0;
  border-left: 0;
  content: ' ';
  background-color: #2d8cf0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0);
}
.ix-radio-large {
  font-size: 14px;
}
.ix-radio-large .ix-radio-inner {
  width: 16px;
  height: 16px;
}
.ix-radio-large .ix-radio-inner:after {
  width: 10px;
  height: 10px;
}
.ix-radio-large.ix-radio-wrapper,
.ix-radio-large .ix-radio-wrapper {
  font-size: 14px;
}
.ix-radio-small .ix-radio-inner {
  width: 12px;
  height: 12px;
}
.ix-radio-small .ix-radio-inner:after {
  width: 6px;
  height: 6px;
}
.ix-radio-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.ix-radio-checked .ix-radio-inner {
  border-color: #2d8cf0;
}
.ix-radio-checked .ix-radio-inner:after {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.ix-radio-checked:hover .ix-radio-inner {
  border-color: #2d8cf0;
}
.ix-radio-disabled {
  cursor: not-allowed;
}
.ix-radio-disabled .ix-radio-input {
  cursor: not-allowed;
}
.ix-radio-disabled:hover .ix-radio-inner {
  border-color: #dddee1;
}
.ix-radio-disabled .ix-radio-inner {
  border-color: #dddee1;
  background-color: #f3f3f3;
}
.ix-radio-disabled .ix-radio-inner:after {
  background-color: #ccc;
}
.ix-radio-disabled .ix-radio-disabled + span {
  color: #ccc;
}
span.ix-radio + * {
  margin-left: 2px;
  margin-right: 2px;
}
.ix-radio-group-button {
  font-size: 0;
  -webkit-text-size-adjust: none;
}
.ix-radio-group-button .ix-radio {
  width: 0;
  margin-right: 0;
}
.ix-radio-group-button .ix-radio-wrapper {
  display: inline-block;
  height: 32px;
  line-height: 30px;
  margin: 0;
  padding: 0 15px;
  font-size: 12px;
  color: #495060;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid #dddee1;
  border-left: 0;
  background-color: #fff;
  position: relative;
}
.ix-radio-group-button .ix-radio-wrapper > span {
  margin-left: 0;
}
.ix-radio-group-button .ix-radio-wrapper:before,
.ix-radio-group-button .ix-radio-wrapper:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  left: -1px;
  top: 0;
  background-color: #dddee1;
  transition: all 0.2s ease-in-out;
}
.ix-radio-group-button .ix-radio-wrapper:after {
  height: 36px;
  left: -1px;
  top: -3px;
  background: rgba(45, 140, 240, 0.2);
  opacity: 0;
}
.ix-radio-group-button .ix-radio-wrapper:first-child {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #dddee1;
}
.ix-radio-group-button .ix-radio-wrapper:first-child:before,
.ix-radio-group-button .ix-radio-wrapper:first-child:after {
  display: none;
}
.ix-radio-group-button .ix-radio-wrapper:last-child {
  border-radius: 0 4px 4px 0;
}
.ix-radio-group-button .ix-radio-wrapper:first-child:last-child {
  border-radius: 4px;
}
.ix-radio-group-button .ix-radio-wrapper:hover {
  position: relative;
  color: #2d8cf0;
}
.ix-radio-group-button .ix-radio-wrapper:hover .ix-radio {
  background-color: black;
}
.ix-radio-group-button .ix-radio-wrapper .ix-radio-inner,
.ix-radio-group-button .ix-radio-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}
.ix-radio-group-button .ix-radio-wrapper-checked {
  background-color: #fff;
  border-color: #2d8cf0;
  color: #2d8cf0;
  box-shadow: -1px 0 0 0 #2d8cf0;
  z-index: 1;
}
.ix-radio-group-button .ix-radio-wrapper-checked:before {
  background: #2d8cf0;
  opacity: 0.1;
}
.ix-radio-group-button .ix-radio-wrapper-checked:before {
  background: #2d8cf0;
  opacity: 0.1;
}
.ix-radio-group-button .ix-radio-wrapper-checked.ix-radio-focus {
  box-shadow: -1px 0 0 0 #2d8cf0, 0 0 0 2px rgba(45, 140, 240, 0.2);
  transition: all 0.2s ease-in-out;
}
.ix-radio-group-button .ix-radio-wrapper-checked.ix-radio-focus:after {
  left: -3px;
  top: -3px;
  opacity: 1;
  background: rgba(45, 140, 240, 0.2);
}
.ix-radio-group-button .ix-radio-wrapper-checked.ix-radio-focus:first-child {
  box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
}
.ix-radio-group-button .ix-radio-wrapper-checked:first-child {
  border-color: #2d8cf0;
  box-shadow: none;
}
.ix-radio-group-button .ix-radio-wrapper-checked:hover {
  border-color: #57a3f3;
  color: #57a3f3;
}
.ix-radio-group-button .ix-radio-wrapper-checked:active {
  border-color: #2b85e4;
  color: #2b85e4;
}
.ix-radio-group-button .ix-radio-wrapper-disabled {
  border-color: #dddee1;
  background-color: #f7f7f7;
  cursor: not-allowed;
  color: #ccc;
}
.ix-radio-group-button .ix-radio-wrapper-disabled:first-child,
.ix-radio-group-button .ix-radio-wrapper-disabled:hover {
  border-color: #dddee1;
  background-color: #f7f7f7;
  color: #ccc;
}
.ix-radio-group-button .ix-radio-wrapper-disabled:first-child {
  border-left-color: #dddee1;
}
.ix-radio-group-button .ix-radio-wrapper-disabled.ix-radio-wrapper-checked {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #dddee1;
  box-shadow: none !important;
}
.ix-radio-group-button.ix-radio-group-large .ix-radio-wrapper {
  height: 36px;
  line-height: 34px;
  font-size: 14px;
}
.ix-radio-group-button.ix-radio-group-large .ix-radio-wrapper:after {
  height: 40px;
}
.ix-radio-group-button.ix-radio-group-small .ix-radio-wrapper {
  height: 24px;
  line-height: 22px;
  padding: 0 12px;
  font-size: 12px;
}
.ix-radio-group-button.ix-radio-group-small .ix-radio-wrapper:after {
  height: 28px;
}
.ix-radio-group-button.ix-radio-group-small .ix-radio-wrapper:first-child {
  border-radius: 3px 0 0 3px;
}
.ix-radio-group-button.ix-radio-group-small .ix-radio-wrapper:last-child {
  border-radius: 0 3px 3px 0;
}
